name: Deploy Apache Iggy Staging Website

on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build Website
        run: npm run build

      - name: Copy ASF config
        run: cp .asf.yaml ./out/.asf.yaml

      - name: Publish Iggy Website to asf-staging
        if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: asf-staging
          publish_dir: ./out
          destination_dir: ./
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          commit_message: "Deploy staging website from staging branch"
